[submodule "external/aap-core"]
	path = external/aap-core
	url = https://github.com/atsushieno/aap-core.git
[submodule "external/dexed"]
	path = external/dexed
	url = https://github.com/asb2m10/dexed.git
[submodule "aap-juce"]
	path = external/aap-juce
	url = https://github.com/atsushieno/aap-juce.git
	branch = new-repo-structure
